<h1>Dragon Ball Z</h1>
<hr />

<div class="row">
  <div class="col">
    <app-personajes [data]="personajes"> </app-personajes>
  </div>

  <div class="col">
    <h3>Agregar</h3>
    <hr />

    <form (ngSubmit)="agregar()">
      <input
        type="text"
        name="nombre"
        placeholder="Nombre"
        id="1"
        [(ngModel)]="nuevo.nombre"
      />
      <!-- [value]="nuevo.nombre"
        (input)="cambiarNombre($event)" -->

      <input
        type="number"
        name="poder"
        placeholder="Poder"
        id="2"
        [(ngModel)]="nuevo.poder"
      />

      <button type="submit">Agregar</button>
    </form>
  </div>
</div>
